<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Starting page for WeMeet" />
    
    <title>Welcome to WeMeet</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/index.css" /> 

    
    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header id="home" onclick="callHome()">
      WeMeet
    </header>

    <main>
      <h1>Welcome to WeMeet!</h1>
      <div>
        <button id="createMeeting">Create A Schedule</button>
        <div id="div"></div>
        <button id="loginMeeting">Find Your Schedule</button>
      </div>
    </main>
  </body>
</html>
