<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WeMeet MakeEvent">

    <link rel="stylesheet" href="/style.css">
    <script src="../makecalendar.js"></script>
    <style> .selectedDate {background-color: #B8B8FF;}</style>
  </head>
  <body onLoad="fillYears(); populateTable(document.dateChooser)">
    <h1>Choose Meeting Range:</h1>
    <div style="display: inline-block; vertical-align: top;"> 
      <FORM NAME="dateChooser">
        <SELECT NAME="chooseMonth" 
        onChange="populateTable(this.form)">
            <OPTION SELECTED>January<OPTION>February
            <OPTION>March<OPTION>April<OPTION>May
            <OPTION>June<OPTION>July<OPTION>August
            <OPTION>September<OPTION>October
            <OPTION>November<OPTION>December
    </SELECT>
    <SELECT NAME="chooseYear" onChange="populateTable(this.form)">
    </SELECT>
    </FORM>
    <TABLE ID="calendarTable">
    <TR><TH>Sun</TH><TH>Mon</TH><TH>Tue</TH><TH>Wed</TH>
    <TH>Thu</TH><TH>Fri</TH><TH>Sat</TH></TR>
    <TBODY ID="tableBody"></TBODY>
    <TR>
        <TD COLSPAN=7>
    </TD>
    </TR>
    </TABLE>
    </div>
    <div style="display: inline-block; padding-left: 3vw;">
      <form id="makeEventForm">
        <label for="makeStart">Start Time:</label>
        <select id="makeStart">
            <option value="0">12 AM</option>
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="7">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9" selected>9 AM</option>
            <option value="10">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 PM</option>
            <option value="13">1 PM</option>
            <option value="14">2 PM</option>
            <option value="15">3 PM</option>
            <option value="16">4 PM</option>
            <option value="17">5 PM</option>
            <option value="18">6 PM</option>
            <option value="19">7 PM</option>
            <option value="20">8 PM</option>
            <option value="21">9 PM</option>
            <option value="22">10 PM</option>
            <option value="23">11 PM</option>
            <option value="24">12 AM</option>
        </select>
        <br>
        <label for="makeEnd">End Time:</label>
        <select id="makeEnd">
            <option value="0">12 AM</option>
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="7">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9">9 AM</option>
            <option value="10">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 PM</option>
            <option value="13">1 PM</option>
            <option value="14">2 PM</option>
            <option value="15">3 PM</option>
            <option value="16">4 PM</option>
            <option value="17" selected>5 PM</option>
            <option value="18">6 PM</option>
            <option value="19">7 PM</option>
            <option value="20">8 PM</option>
            <option value="21">9 PM</option>
            <option value="22">10 PM</option>
            <option value="23">11 PM</option>
            <option value="24">12 AM</option>
        </select>
        <br>
        <label for="makeZone">Time Zone:</label>
        <select id="makeZone">
            <option value="EDT UTC-4" selected>EDT UTC-4</option>
        </select>
        <br>
        <a href="idcode.html"><button type="button" id="makeEventSubmit">Create</button></a>
      </form>
    </div>
  </body>
</html>