<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Create a meeting for your group" />

    <title>Create Your Meeting</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/meetingMaker.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/meetingMaker.js" defer></script>
    <script src="/availability.js" defer></script>
  </head>
  <body>
    <header>
      WeMeet
    </header>

    <main>
      <h1>
        Create Meeting
      </h1>
      <form>
        <div id="nameEmail">
          <label>
            Name
            <div class="input-group mb-3">
              <input
                id="name"
                name="name"
                type="text"
                maxlength="100"
                required
                placeholder="name"
              />
            </div>
          </label>
          <label>
            Email
            <input
              id="email"
              name="email"
              type="text"
              maxlength="100"
              required
              placeholder="email"
            />
          </label>
        </div>

        <div class="weekDays-selector">
          <h3>
            Select days of the week
          </h3>

          <input
            type="checkbox"
            id="weekday-mon"
            name="checkbox"
            class="weekday"
          />
          <label for="weekday-mon">M</label>

          <input type="checkbox" id="weekday-tue" class="weekday" />
          <label for="weekday-tue">T</label>

          <input type="checkbox" id="weekday-wed" class="weekday" />
          <label for="weekday-wed">W</label>

          <input type="checkbox" id="weekday-thu" class="weekday" />
          <label for="weekday-thu">T</label>

          <input type="checkbox" id="weekday-fri" class="weekday" />
          <label for="weekday-fri">F</label>

          <input type="checkbox" id="weekday-sat" class="weekday" />
          <label for="weekday-sat">S</label>

          <input type="checkbox" id="weekday-sun" class="weekday" />
          <label for="weekday-sun">S</label>
        </div>

        <div>
          <h3>
            Select times of day
          </h3>
          <label for="startTime">Start time: </label>
          <input type="time" id="startTime" />

          <label for="endTime">End time: </label>
          <input type="time" id="endTime" />
        </div>

        <button type="submit" id="submit-meeting" onclick="MeetingButton()">
          Create
        </button>
      </form>
    </main>
  </body>
</html>
